.cartContainer{
display:flex;
padding:20px;
gap:20px;
}

.cartItems{
flex:0.7;
display:flex;
flex-direction:column;
gap:15px;
}

.cartItem{
display:flex;
border:1px solid lightgray;
padding:10px;
border-radius:10px;
}

.cartItem img{
width:120px;
height:80px;
object-fit:cover;
border-radius:8px;
}

.cartItemDetail{
margin-left:15px;
display:flex;
flex-direction:column;
gap:5px;
}

.cartItemDetail button{
background:red;
color:white;
border:none;
padding:5px;
border-radius:5px;
cursor:pointer;
}

.cartSummary{
flex:0.3;
border:1px solid lightgray;
padding:20px;
height:200px;
border-radius:10px;
display:flex;
flex-direction:column;
gap:15px;
}

.checkoutBtn{
background:black;
color:white;
padding:10px;
border:none;
border-radius:6px;
cursor:pointer;
}


@media (max-width: 900px){

.cartContainer{
flex-direction:column;
}

.cartItems{
flex:1;
}

.cartSummary{
flex:1;
width:100%;
}

}

@media (max-width: 600px){

.cartItem{
flex-direction:column;
align-items:center;
text-align:center;
}

.cartItem img{
width:100%;
height:150px;
}

.cartItemDetail{
margin-left:0;
margin-top:10px;
align-items:center;
}

.cartSummary{
height:auto;
}

.checkoutBtn{
width:100%;
}

}